.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: auto;  /* 设置期望的高度 */
  width: auto;    /* 保持宽高比 */
  object-fit: contain;  /* 确保图片完整显示 */
}
